body {
  background-color: #141e4f;
}

section {
  width: 100%;
}

#name {
  height: 56.25vw;
  display: flex;
  justify-content: center;
}
.name {
  width: 85.6771vw;
  height: 31.35vw;
  background-image: url(../images/name111.svg);
  background-size: 85.6771vw 31.35vw;
  position: relative;
  z-index: 2;
  transition: 2s ease;
}
.name:hover {
  background-image: url(../images/name222.svg);
  transition: 1s ease;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6,
.circle7,
.circle8,
.circle9,
.circle10,
.circle11,
.circle12,
.circle13 {
  position: absolute;
  top: -20%;
  animation: fall linear infinite;
}
.circle1 {
  width: 2.86vw;
  height: 16.88vw;
  background-image: url(../images/circle1.png);
  background-size: 2.86vw 16.88vw;
  left: 2%;
  animation-duration: 5s;
  animation-delay: -1s;
}
.circle2 {
  width: 2.65625vw;
  height: 8.2084vw;
  background-image: url(../images/circle2.png);
  background-size: 2.65625vw 8.2084vw;
  left: 12%;
  animation-duration: 6.4s;
  animation-delay: -3s;
}
.circle3 {
  width: 3.489584vw;
  height: 15.4864584vw;
  background-image: url(../images/circle3.png);
  background-size: 3.489584vw 15.4864584vw;
  left: 20%;
  animation-duration: 6s;
  animation-delay: -2s;
}
.circle4 {
  width: 2.9167vw;
  height: 16.1338542vw;
  background-image: url(../images/circle4.png);
  background-size: 2.9167vw 16.1338542vw;
  left: 28%;
  animation-duration: 8s;
  animation-delay: -5s;
}
.circle5 {
  width: 2.86458vw;
  height: 17.067709vw;
  background-image: url(../images/circle5.png);
  background-size: 2.86458vw 17.067709vw;
  left: 36%;
  animation-duration: 5.5s;
  animation-delay: -4s;
}
.circle6 {
  width: 2.86458vw;
  height: 11.09375vw;
  background-image: url(../images/circle6.png);
  background-size: 2.86458vw 11.09375vw;
  left: 44%;
  animation-duration: 7.5s;
  animation-delay: -6s;
}
.circle7 {
  width: 2.5296875vw;
  height: 15.676vw;
  background-image: url(../images/circle7.png);
  background-size: 2.5296875vw 15.676vw;
  left: 52%;
  animation-duration: 6.5s;
  animation-delay: -2s;
}
.circle8 {
  width: 4.375vw;
  height: 15.227vw;
  background-image: url(../images/circle8.png);
  background-size: 4.375vw 15.227vw;
  left: 60%;
  animation-duration: 8.5s;
  animation-delay: -7s;
}
.circle9 {
  width: 2.5521vw;
  height: 14.0875vw;
  background-image: url(../images/circle9.png);
  background-size: 2.5521vw 14.0875vw;
  left: 68%;
  animation-duration: 5.8s;
  animation-delay: -3s;
}
.circle10 {
  width: 2.86458vw;
  height: 21.01875vw;
  background-image: url(../images/circle10.png);
  background-size: 2.86458vw 21.01875vw;
  left: 76%;
  animation-duration: 7.8s;
  animation-delay: -6s;
}
.circle11 {
  width: 2.604vw;
  height: 21.65vw;
  background-image: url(../images/circle11.png);
  background-size: 2.604vw 21.65vw;
  left: 84%;
  animation-duration: 6.2s;
  animation-delay: -1s;
}
.circle12 {
  width: 2.86vw;
  height: 12.227vw;
  background-image: url(../images/circle12.png);
  background-size: 2.86vw 12.227vw;
  left: 89%;
  animation-duration: 8s;
  animation-delay: -5s;
}
.circle13 {
  width: 2.86458vw;
  height: 22.546vw;
  background-image: url(../images/circle13.png);
  background-size: 2.86458vw 22.546vw;
  left: 95%;
  animation-duration: 6.8s;
  animation-delay: -4s;
}

#second {
  overflow: hidden;
  height: 57.2917vw;
  background-image: url(../images/gradient1.svg);
  background-size: 100vw 57.2917vw;
  position: relative;
}

.scheme {
  width: 48.177vw;
  height: 47.34vw;
  background-image: url(../images/scheme11.png);
  background-size: 618.229vw 47.34vw;
  animation: scheme 2.4s steps(12) infinite;
  position: absolute;
  top: 1.5vw;
  left: 0.5vw;
  z-index: 10;
}
.progress {
  width: 26.25vw;
  height: 26.25vw;
  background-image: url(../images/loading44.png);
  background-size: 3281.25vw 26.25vw;
  animation: progress 9s steps(1) forwards;
  position: relative;
  top: 7.97vw;
  left: 64.8vw;
  z-index: 5;
}

.numbers1 {
  width: 0.6em;
  height: 1em;
  overflow: hidden;
  font-family: "Montserrat";
  font-size: 4.5833vw;
  color: #e2e3ff;
  position: absolute;
  top: 11.2vw;
  left: 3.2vw;
  display: flex;
  gap: 0.2em;
}

.numbers-anim1 {
  display: inline-block;
  animation: numbers 9s steps(9) forwards;
}

.numbers2 {
  width: 0.6em;
  height: 1em;
  overflow: hidden;
  font-family: "Montserrat";
  font-size: 4.5833vw;
  color: #e2e3ff;
  position: absolute;
  top: 11.2vw;
  left: 6.2vw;
  display: flex;
  gap: 0.2em;
}
.numbers-anim2 {
  display: inline-block;
  animation: numbers 8s steps(9) forwards;
}

.numbers3 {
  width: 0.6em;
  height: 1em;
  overflow: hidden;
  font-family: "Montserrat";
  font-size: 4.5833vw;
  color: #e2e3ff;
  position: absolute;
  top: 11.2vw;
  left: 9.2vw;
  display: flex;
  gap: 0.2em;
}
.numbers-anim3 {
  display: inline-block;
  animation: numbers 7s steps(9) forwards;
}

.numbers4 {
  width: 0.6em;
  height: 1em;
  overflow: hidden;
  font-family: "Montserrat";
  font-size: 4.5833vw;
  color: #e2e3ff;
  position: absolute;
  top: 11.2vw;
  left: 14.2vw;
  display: flex;
  gap: 0.2em;
}
.numbers-anim4 {
  display: inline-block;
  animation: numbers 6s steps(9) forwards;
}

.numbers5 {
  width: 0.6em;
  height: 1em;
  overflow: hidden;
  font-family: "Montserrat";
  font-size: 4.5833vw;
  color: #e2e3ff;
  position: absolute;
  top: 11.2vw;
  left: 17.2vw;
  display: flex;
  gap: 0.2em;
}
.numbers-anim5 {
  display: inline-block;
  animation: numbers 5s steps(9) forwards;
}

.numbers6 {
  width: 0.6em;
  height: 1em;
  overflow: hidden;
  font-family: "Montserrat";
  font-size: 4.5833vw;
  color: #e2e3ff;
  position: absolute;
  top: 11.2vw;
  left: 20.2vw;
  display: flex;
  gap: 0.2em;
}
.numbers-anim6 {
  display: inline-block;
  animation: numbers 4s steps(9) forwards;
}

.stroke p {
  display: inline-block;
  white-space: nowrap;
  font-family: "Montserrat";
  font-size: 1.25vw;
  color: #e2e3ff;
  width: 352%;
  animation: stroke 7s linear infinite;
}
.stroke {
  width: 45.57vw;
  /* height: 1.5vw; */
  overflow: hidden;
  position: absolute;
  top: 38.28vw;
  left: 54.427vw;
}
.stroke > div {
  padding: 2vw;
}

.back-dot1:hover,
.back-dot2:hover,
.back-dot3:hover,
.back-dot4:hover,
.back-dot5:hover,
.back-dot6:hover,
.back-dot7:hover,
.back-dot8:hover,
.back-dot9:hover,
.back-dot10:hover,
.back-dot11:hover,
.back-dot12:hover,
.back-dot13:hover,
.back-dot14:hover,
.back-dot15:hover,
.back-dot16:hover,
.back-dot17:hover,
.back-dot18:hover,
.back-dot19:hover,
.back-dot20:hover,
.back-dot21:hover,
.back-dot22:hover,
.back-dot23:hover {
  opacity: 0;
  transform: scale(-2);
  transition: 0.6s ease-in-out;
}

.back-dot1,
.back-dot2,
.back-dot3,
.back-dot4,
.back-dot5,
.back-dot8,
.back-dot9,
.back-dot10,
.back-dot11,
.back-dot12,
.back-dot13,
.back-dot14,
.back-dot15 {
  position: absolute;
  width: 1.4vw;
  height: 1.4vw;
  border-radius: 50%;
  background-color: #e2e3ff;
  z-index: 20;
}
.back-dot1 {
  top: 10vw;
  left: 2vw;
}
.back-dot2 {
  top: 15vw;
  left: 24vw;
}
.back-dot3 {
  top: 29vw;
  left: 93vw;
}
.back-dot4 {
  top: 49vw;
  left: 84vw;
}
.back-dot5 {
  top: 44vw;
  left: 63vw;
  opacity: 60%;
}
.back-dot6 {
  position: absolute;
  top: 2vw;
  left: 67vw;
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 50%;
  background-color: #e2e3ff;
  opacity: 60%;
  z-index: 20;
}
.back-dot7 {
  position: absolute;
  top: 0.3vw;
  left: 6vw;
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 50%;
  background-color: #e2e3ff;
  opacity: 60%;
  z-index: 20;
}
.back-dot8 {
  top: 32vw;
  left: 21vw;
}
.back-dot9 {
  top: 64vw;
  left: 10vw;
}
.back-dot10 {
  top: 70vw;
  left: 87vw;
}
.back-dot11 {
  top: 7vw;
  left: 83vw;
}
.back-dot12 {
  top: -2vw;
  left: 27vw;
}
.back-dot13 {
  top: -3vw;
  left: 13vw;
}
.back-dot14 {
  top: 37vw;
  left: 87vw;
}
.back-dot15 {
  top: 11vw;
  left: 96vw;
  opacity: 60%;
}
.back-dot16 {
  position: absolute;
  top: -10vw;
  left: 4vw;
  width: 1.1vw;
  height: 1.1vw;
  border-radius: 50%;
  background-color: #e2e3ff;
  opacity: 60%;
  z-index: 20;
}
.back-dot17 {
  position: absolute;
  top: 19vw;
  left: 16vw;
  width: 1.1vw;
  height: 1.1vw;
  border-radius: 50%;
  background-color: #e2e3ff;
  opacity: 60%;
  z-index: 20;
}
.back-dot18 {
  position: absolute;
  top: 43vw;
  left: 5vw;
  width: 1.1vw;
  height: 1.1vw;
  border-radius: 50%;
  background-color: #e2e3ff;
  z-index: 20;
}
.back-dot19 {
  position: absolute;
  top: 50vw;
  left: 30vw;
  width: 1.1vw;
  height: 1.1vw;
  border-radius: 50%;
  background-color: #e2e3ff;
  opacity: 60%;
  z-index: 20;
}
.back-dot20 {
  position: absolute;
  top: 83vw;
  left: 20vw;
  width: 1.1vw;
  height: 1.1vw;
  border-radius: 50%;
  background-color: #e2e3ff;
  z-index: 20;
}
.back-dot21 {
  position: absolute;
  top: 22vw;
  left: 73vw;
  width: 1.1vw;
  height: 1.1vw;
  border-radius: 50%;
  background-color: #e2e3ff;
  opacity: 60%;
  z-index: 20;
}
.back-dot22 {
  position: absolute;
  top: 57vw;
  left: 95vw;
  width: 1.1vw;
  height: 1.1vw;
  border-radius: 50%;
  background-color: #e2e3ff;
  opacity: 60%;
  z-index: 20;
}
.back-dot23 {
  position: absolute;
  top: 58vw;
  left: 64vw;
  width: 1.1vw;
  height: 1.1vw;
  border-radius: 50%;
  background-color: #e2e3ff;
  opacity: 60%;
  z-index: 20;
}

.lines {
  width: 100%;
  height: 78.59vw;
  background-image: url(../images/line11.svg);
  background-size: 99.95vw 78.59vw;
  position: relative;
}

.dot {
  position: relative;
  z-index: 10;
}
.dot1 {
  position: absolute;
  top: 12.8vw;
  left: 37.9vw;
  width: 2.6vw;
  height: 2.6vw;
  background-image: url(../images/star0.svg);
  background-size: 2.6vw 2.6vw;
}
.dot1:hover {
  background-image: url(../images/star11.svg);
  transform: scale(5.4);
  animation: blink 0.6s linear infinite;
}

.dot2 {
  position: absolute;
  top: 20.6vw;
  left: 79.95vw;
  width: 2.6vw;
  height: 2.6vw;
  background-image: url(../images/star0.svg);
  background-size: 2.6vw 2.6vw;
  transition: transform 0.4s ease; /* может быть убрать */
}
.dot2:hover {
  background-image: url(../images/star2.svg);
  transform: scale(10.4);
  animation: kach 1.5s ease-in-out infinite;
}

.dot3 {
  position: absolute;
  top: 38vw;
  left: 16.2vw;
  width: 2.6vw;
  height: 2.6vw;
  background-image: url(../images/star0.svg);
  background-size: 2.6vw 2.6vw;
  transition: 1s;
}
.dot3:hover {
  background-image: url(../images/star3.svg);
  transform: scale(10.4);
}

.dot4 {
  position: absolute;
  top: 47.6vw;
  left: 46vw;
  width: 2.6vw;
  height: 2.6vw;
  background-image: url(../images/star0.svg);
  background-size: 2.6vw 2.6vw;
  transition: 1.4s;
}
.dot4:hover {
  background-image: url(../images/star4.svg);
  transform: scale(-30);
}

.dot5 {
  position: absolute;
  top: 68.9vw;
  left: 85.7vw;
  width: 2.6vw;
  height: 2.6vw;
  background-image: url(../images/star0.svg);
  background-size: 2.6vw 2.6vw;
}
.dot5:hover {
  background-image: url(../images/star5.svg);
  transform: scale(11.5);
  animation: kach2 3s ease-in-out forwards;
}

.sig {
  font-family: "Montserrat";
  font-size: 1.25vw;
  color: #e2e3ff;
  width: 5.6vw;
  height: 1.5vw;
}
.sig1 {
  position: absolute;
  top: 11vw;
  left: 40.4vw;
}
.sig2 {
  position: absolute;
  top: 23.5vw;
  left: 82.6vw;
}
.sig3 {
  position: absolute;
  top: 36vw;
  left: 17.6vw;
}
.sig4 {
  position: absolute;
  top: 50.9vw;
  left: 47.7vw;
}
.sig5 {
  position: absolute;
  top: 66.9vw;
  left: 87.3vw;
}

#light-ball {
  height: 93.75vw;
  position: relative;
}
.ball-text {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 93.75vw;
}

.ball {
  width: 49.705vw;
  height: 43vw;
  background-image: url(../images/balllines3.png);
  background-size: 49.705vw 43vw;
  position: absolute;
  bottom: 52.55vw;
  z-index: 3;
}

.ball p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13.125vw;
  height: 5.5729vw;
  font-family: "Montserrat";
  font-size: 1.67vw;
  color: #141e4f;
  text-align: center;
  opacity: 0;
  z-index: 4;
}

.ball:hover p {
  opacity: 1;
}

.light {
  position: absolute;
  bottom: -4vw;
  left: 50%;
  transform: translateX(-50%);
  width: 47vw;
  height: 80.42vw;
  background-image: url(../images/light3.png);
  background-size: 717.08vw 80.42vw;
  animation: light 4s steps(13) infinite;
  z-index: 1;
}

.stairs1 {
  width: 65.4167vw;
  height: 5.52vw;
  background-size: auto;
  background-color: #050d33;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.stairs2 {
  width: 39.11458vw;
  height: 4.3229vw;
  background-size: auto;
  background-color: #050d33;
  position: absolute;
  bottom: 5.52vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.stairs3 {
  width: 27.92vw;
  height: 3.125vw;
  background-size: auto;
  background-color: #050d33;
  position: absolute;
  bottom: 9.73958vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.stairs4 {
  width: 20.729vw;
  height: 2.396vw;
  background-size: auto;
  background-color: #050d33;
  position: absolute;
  bottom: 12.86vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.stairs p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat";
  font-size: 1.25vw;
  color: #e2e3ff;
  text-align: center;
  opacity: 0;
  z-index: 4;
}
.stairs2:hover p {
  opacity: 1;
  transition: 1.5s ease;
}
.stairs3:hover p {
  opacity: 1;
  transition: 1.5s ease;
}
.stairs4:hover p {
  opacity: 1;
  transition: 1.5s ease;
}

.last {
  overflow: hidden;
  width: 100%;
  height: 5.3vw;
  background-color: #e2e3ff;
  position: absolute;
}

.last p {
  position: absolute;
  top: 1.9vw;
  width: 100%;
  font-family: "Montserrat";
  font-size: 1.25vw;
  color: #141e4f;
}

.milana {
  position: relative;
  left: 11.7vw;
}
.group {
  position: relative;
  left: 47.1vw;
}
.year {
  position: relative;
  left: 78.3vw;
}

.lastdot1,
.lastdot2,
.lastdot3,
.lastdot4,
.lastdot5,
.lastdot6,
.lastdot7,
.lastdot8,
.lastdot9,
.lastdot10,
.lastdot11 {
  position: absolute;
  top: 1.5vw;
  width: 2.4vw;
  height: 2.4vw;
  background-color: #141e4f;
  border-radius: 50%;
  z-index: 2;
}
.lastdot1 {
  left: 1.25vw;
  transition: all 2s ease;
}
.lastdot2 {
  left: 32.2vw;
  transition: all 2s ease;
}
.lastdot3 {
  left: 34.6vw;
  transition: all 2s ease;
}
.lastdot4 {
  left: 37vw;
  transition: all 2s ease;
}
.lastdot5 {
  left: 60.8vw;
  transition: all 2s ease;
}
.lastdot6 {
  left: 63.2vw;
  transition: all 2s ease;
}
.lastdot7 {
  left: 65.6vw;
  transition: all 2s ease;
}
.lastdot8 {
  left: 68vw;
  transition: all 2s ease;
}
.lastdot9 {
  left: 89.4vw;
  transition: all 2s ease;
}
.lastdot10 {
  left: 92.8vw;
  transition: all 2s ease;
}
.lastdot11 {
  left: 95.2vw;
  transition: all 2s ease;
}

.lastdot1:hover,
.lastdot2:hover,
.lastdot3:hover,
.lastdot4:hover,
.lastdot5:hover,
.lastdot6:hover,
.lastdot7:hover,
.lastdot8:hover,
.lastdot9:hover,
.lastdot10:hover,
.lastdot11:hover {
  background-color: #e2e3ff;
  transition: all 0.1s ease;
}
