body {
  background-color: #141e4f;
}

section {
  width: 100%;
}

#name {
  height: 56.25vw;
  display: flex;
  justify-content: center;
}
.name {
  width: 85.6771vw;
  height: 31.35vw;
  background-image: url(../images/name111.svg);
  background-size: 85.6771vw 31.35vw;
  position: relative;
  z-index: 2;
  transition: 2s ease;
}
.name:hover {
  background-image: url(../images/name222.svg);
  transition: 1s ease;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6,
.circle7,
.circle8,
.circle9,
.circle10,
.circle11,
.circle12,
.circle13 {
  position: absolute;
  top: -20%;
  animation: fall linear infinite;
}
.circle1 {
  width: 2.86vw;
  height: 16.88vw;
  background-image: url(../images/circle1.png);
  background-size: 2.86vw 16.88vw;
  left: 2%;
  animation-duration: 5s;
  animation-delay: -1s;
}
.circle2 {
  width: 2.65625vw;
  height: 8.2084vw;
  background-image: url(../images/circle2.png);
  background-size: 2.65625vw 8.2084vw;
  left: 12%;
  animation-duration: 6.4s;
  animation-delay: -3s;
}
.circle3 {
  width: 3.489584vw;
  height: 15.4864584vw;
  background-image: url(../images/circle3.png);
  background-size: 3.489584vw 15.4864584vw;
  left: 20%;
  animation-duration: 6s;
  animation-delay: -2s;
}
.circle4 {
  width: 2.9167vw;
  height: 16.1338542vw;
  background-image: url(../images/circle4.png);
  background-size: 2.9167vw 16.1338542vw;
  left: 28%;
  animation-duration: 8s;
  animation-delay: -5s;
}
.circle5 {
  width: 2.86458vw;
  height: 17.067709vw;
  background-image: url(../images/circle5.png);
  background-size: 2.86458vw 17.067709vw;
  left: 36%;
  animation-duration: 5.5s;
  animation-delay: -4s;
}
.circle6 {
  width: 2.86458vw;
  height: 11.09375vw;
  background-image: url(../images/circle6.png);
  background-size: 2.86458vw 11.09375vw;
  left: 44%;
  animation-duration: 7.5s;
  animation-delay: -6s;
}
.circle7 {
  width: 2.5296875vw;
  height: 15.676vw;
  background-image: url(../images/circle7.png);
  background-size: 2.5296875vw 15.676vw;
  left: 52%;
  animation-duration: 6.5s;
  animation-delay: -2s;
}
.circle8 {
  width: 4.375vw;
  height: 15.227vw;
  background-image: url(../images/circle8.png);
  background-size: 4.375vw 15.227vw;
  left: 60%;
  animation-duration: 8.5s;
  animation-delay: -7s;
}
.circle9 {
  width: 2.5521vw;
  height: 14.0875vw;
  background-image: url(../images/circle9.png);
  background-size: 2.5521vw 14.0875vw;
  left: 68%;
  animation-duration: 5.8s;
  animation-delay: -3s;
}
.circle10 {
  width: 2.86458vw;
  height: 21.01875vw;
  background-image: url(../images/circle10.png);
  background-size: 2.86458vw 21.01875vw;
  left: 76%;
  animation-duration: 7.8s;
  animation-delay: -6s;
}
.circle11 {
  width: 2.604vw;
  height: 21.65vw;
  background-image: url(../images/circle11.png);
  background-size: 2.604vw 21.65vw;
  left: 84%;
  animation-duration: 6.2s;
  animation-delay: -1s;
}
.circle12 {
  width: 2.86vw;
  height: 12.227vw;
  background-image: url(../images/circle12.png);
  background-size: 2.86vw 12.227vw;
  left: 89%;
  animation-duration: 8s;
  animation-delay: -5s;
}
.circle13 {
  width: 2.86458vw;
  height: 22.546vw;
  background-image: url(../images/circle13.png);
  background-size: 2.86458vw 22.546vw;
  left: 95%;
  animation-duration: 6.8s;
  animation-delay: -4s;
}

#second {
  height: 57.2917vw;
  background-image: url(../images/gradient.png);
  background-size: 100vw 57.2917vw;
  position: relative;
}

.scheme {
  width: 48.177vw;
  height: 47.34vw;
  background-image: url(../images/scheme11.png);
  background-size: 618.229vw 47.34vw;
  animation: scheme 2.4s steps(12) infinite;
  position: absolute;
  top: 1.5vw;
  left: 0.5vw;
}
.progress {
  width: 26.25vw;
  height: 26.25vw;
  background-image: url(../images/loading44.png);
  background-size: 3281.25vw 26.25vw;
  animation: progress 9s steps(1) forwards;
  position: absolute;
  top: 7.97vw;
  left: 64.8vw;
}

.stroke p {
  /* position: absolute;
  top: 38.28vw;
  left: 54.427vw;
  font-family: "Montserrat";
  font-size: 1.25vw;
  color: #e2e3ff;
  animation: stroke 16s infinite linear;
  width: 200%; */
  display: inline-block;
  white-space: nowrap;
  font-family: "Montserrat";
  font-size: 1.25vw;
  color: #e2e3ff;
  width: 352%;
  animation: stroke 7s linear infinite;
}
.stroke {
  width: 45.57vw;
  height: 1.5vw;
  overflow: hidden;
  position: absolute;
  top: 38.28vw;
  left: 54.427vw;
}
.stroke > div {
  padding: 2vw;
}

.lines {
  width: 99.95vw;
  height: 78.59vw;
  background-image: url(../images/line11.svg);
  background-size: 99.95vw 78.59vw;
  /* background-size: 1036.98vw 78.59vw; */
  /* animation: lines 1.6s infinite steps(9); */
}

#light-ball {
  height: 93.75vw;
  position: relative;
}
.ball-text {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 93.75vw;
}

.ball {
  width: 49.705vw;
  height: 43vw;
  background-image: url(../images/balllines3.png);
  background-size: 49.705vw 43vw;
  position: absolute;
  bottom: 52.55vw;
  z-index: 3;
}

.ball p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13.125vw;
  height: 5.5729vw;
  font-family: "Montserrat";
  font-size: 1.67vw;
  color: #141e4f;
  text-align: center;
  opacity: 0;
  z-index: 4;
}

/* .text2 {
  display: flex;
  align-items: center;
}
.text2 p {
  font-family: "Montserrat";
  font-size: 32px;
  color: #141e4f;
  text-align: center;
  width: 13.125vw;
  height: 5.5729vw;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  opacity: 0;
} */
.ball:hover p {
  opacity: 1;
}

/* .balllines1 {
  width: 49.705vw;
  height: 43vw;
  background-image: url(../images/balllines1.png);
  background-size: 49.705vw 43vw;
} */

/* #light-ball {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.light {
  position: absolute;
  /* top: 16.875vw;
  right: auto; */
  bottom: -4vw;
  left: 50%;
  transform: translateX(-50%);
  width: 47vw;
  height: 80.42vw;
  background-image: url(../images/light3.png);
  background-size: 717.08vw 80.42vw;
  animation: light 4s steps(13) infinite;
  /* overflow: hidden; */
  z-index: 1;
}

.stairs1 {
  width: 65.4167vw;
  height: 5.52vw;
  background-size: auto;
  background-color: #050d33;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.stairs2 {
  width: 39.11458vw;
  height: 4.3229vw;
  background-size: auto;
  background-color: #050d33;
  position: absolute;
  bottom: 5.52vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.stairs3 {
  width: 27.92vw;
  height: 3.125vw;
  background-size: auto;
  background-color: #050d33;
  position: absolute;
  bottom: 9.73958vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.stairs4 {
  width: 20.729vw;
  height: 2.396vw;
  background-size: auto;
  background-color: #050d33;
  position: absolute;
  bottom: 12.86vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.stairs p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat";
  font-size: 1.25vw;
  color: #e2e3ff;
  text-align: center;
  opacity: 0;
  z-index: 4;
}
.stairs2:hover p {
  opacity: 1;
  transition: 1.5s ease;
}
.stairs3:hover p {
  opacity: 1;
  transition: 1.5s ease;
}
.stairs4:hover p {
  opacity: 1;
  transition: 1.5s ease;
}

.last {
  width: 100vw;
  height: 11.4vw;
  background-image: url(../images/laststroke.svg);
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 6;
}
